.tokens-grid {
  width: 100% !important;
  font-family: sans-serif !important;
  color: #FFF !important;
  border-collapse: collapse !important;
  border: 0px solid transparent !important;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem !important;
  text-align: left !important;
  border: 0 !important;
}

.tokens-grid thead tr {
  border: 0 !important;
}

.tokens-grid tbody td {
  padding: 0.75rem 1rem;
  color: #ccc;
  border: 0 !important;
}

.tokens-grid tbody tr {
  border: 0 !important;
}

.tokens-grid tbody td:first-child {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.tokens-grid tbody td:last-child {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.tokens-grid tbody tr:nth-child(even) td {
  background: #444 !important;
}